.App {
  text-align: center;
}

input{
  border: 2px solid green;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 15rem;
}

.button-style{
  padding: 10px 30px;
}

.text-align{
  text-align: left;
  margin-left: 3rem;
}

.margin{
  margin-left: 1rem;
  margin-right: 1rem;
}